@model AloeExpress.ViewModels.RegisterViewModel

@{ ViewData["Title"] = "Register"; }

<form asp-action="Register" asp-controller="Account" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="text-center">
        <h1 style="position:center">Регистрация</h1>
    </div>
    <hr />

    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" placeholder="Имя" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" placeholder="Фамилия" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" placeholder="Пароль" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Повторите пароль" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-outline-primary" value="Регистрация" />
    </div>
    <hr />
    <div class="text-center">
        <p style="position:center">Если Вы уже зарегистрированы, можете войти в свой аккаунт.</p>
    </div>
    <div class="text-center">
        <a asp-action="Login" asp-controller="Account" class="btn btn-outline-warning" style="position:center">Войти</a>
    </div>
</form>
<br />

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}